button.secondary {
    background-color: red;
    border-color: red;
}

button.exit-button
{
    background-color: #d2e2ee;
    border-color:  #d2e2ee;
}

button.exit-button:hover
{
    background-color: red;
    border-color: red;
}

@keyframes spinner-donut-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    margin-top: auto; margin-bottom: auto;
    margin-left: 1rem;
    border: 0.25rem solid var(--color-link);
    border-left: 0.25rem solid #ffffff00;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: spinner-donut-anim 1.2s linear infinite;
}

body 
{
    margin-bottom: 150px;
}

body footer
{
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: white;
}